<!-- Contact Section -->
<section id="contact" class="contact section">
  <!-- Section Title -->
  <div class="container section-title">
    <h2>Contact</h2>
    <p>
      "Feel free to contact us for any inquiries or questions. We're here to
      help!"
    </p>
  </div>
  <!-- End Section Title -->

  <!-- Google Maps Embed -->
  <div class="mb-5">
    <iframe
      style="border: 0; width: 100%; height: 270px"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3780.975211855049!2d73.7987956743703!3d18.620184666125514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b856876a422b%3A0x904c8cde483b0d85!2sK.%20M.%20Mulitispeciality%20Hospital!5e0!3m2!1sen!2sin!4v1738437923769!5m2!1sen!2sin"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <!-- End Google Maps -->

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-4">
        <div class="info-item d-flex">
          <i class="bi bi-geo-alt flex-shrink-0"></i>
          <div>
            <h3>Location</h3>
            <p>
              568, Ambedkar Chowk, opp. Deluxe Cinema, Shastri Nagar, Pimpri
              Colony, Pune, Pimpri-Chinchwad
            </p>
          </div>
        </div>
        <!-- End Info Item -->

        <div class="info-item d-flex">
          <i class="bi bi-telephone flex-shrink-0"></i>
          <div>
            <h3>Call Us</h3>
            <p>84840 69695</p>
          </div>
        </div>
        <!-- End Info Item -->

        <div class="info-item d-flex">
          <i class="bi bi-envelope flex-shrink-0"></i>
          <div>
            <h3>Email Us</h3>
            <p>kmmhospitalpimpri@gmail.com</p>
          </div>
        </div>
        <!-- End Info Item -->
      </div>

      <!-- End Contact Form -->
    </div>
  </div>
</section>
<!-- End Contact Section -->
