<header id="header" class="header sticky-top">
  <div class="topbar">
    <div class="container">
      <div class="contact-info">
        <a href="mailto:kmmhospitalpimpri@gmail.com"
          ><i class="fas fa-envelope"></i>kmmhospitalpimpri@gmail.com</a
        >

        <span class="contact-info">
          <a href="tel:84840 69695"
            ><i class="fas fa-phone"></i> 84840 69695</a
          ></span
        >
      </div>
    </div>
  </div>
  <nav class="navbar">
    <div class="container">
      <div class="logo-container">
        <img src="assets/img/logo.jpg" alt="KM Hospital Logo" class="logo" />
        <h3 class="sitename" id="sitename">K.M.M HOSPITAL</h3>
      </div>

      <!-- Hamburger Menu for Mobile -->
      <div class="menu-toggle" (click)="toggleMenu()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>

      <!-- Menu -->
      <ul class="menu" [ngClass]="{ active: isMenuActive }">
        <li>
          <a routerLink="/home" routerLinkActive="active" (click)="closeMenu()"
            ><i><b>Home</b></i></a
          >
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="active" (click)="closeMenu()"
            ><i><b>About</b></i></a
          >
        </li>
        <li>
          <a
            routerLink="/gallery"
            routerLinkActive="active"
            (click)="closeMenu()"
            ><i><b>Gallery</b></i></a
          >
        </li>
        <li>
          <a
            routerLink="/services"
            routerLinkActive="active"
            (click)="closeMenu()"
            ><i><b>Services</b></i></a
          >
        </li>
        <li>
          <a
            routerLink="/contact"
            routerLinkActive="active"
            (click)="closeMenu()"
            ><i><b>Contact</b></i></a
          >
        </li>
      </ul>

      <!-- Buttons -->
      <header>
        <nav>
          <ul>
            <!-- Other nav items -->

            <!-- Conditionally display login button if user is not logged in -->
            <li *ngIf="!isLoggedIn">
              <button (click)="onLogin()">Login</button>
            </li>

            <!-- Conditionally display logout button if user is logged in -->
            <li *ngIf="isLoggedIn">
              <button (click)="onLogout()">Logout</button>
            </li>
          </ul>
        </nav>
      </header>

      <button
        *ngIf="isLoggedIn"
        (click)="manageAppointments()"
        class="manage-appointments-btn"
      >
        Manage Appointments
      </button>

      <button (click)="scrollToAppointment()" class="appointment-btn">
        Make an Appointment
      </button>
      <a href="tel:84840 69695" class="btn-quick-callcta">
        <span class="call-txt">Call Us Now</span>
        <span class="call-num">84840 69695</span>
      </a>
    </div>
  </nav>
</header>

<section class="hero">
  <div class="container">
    <div class="hero-card">
      <h1>WELCOME TO KMM Hospital</h1>
      <h2><p>"Committed to Care, Dedicated to You."</p></h2>
      <!-- <button class="btn-primary">Learn More</button> -->
    </div>
  </div>
</section>

<!-- Routed components displayed here -->
<router-outlet></router-outlet>

<!-- Footer Section -->
<app-footer></app-footer>
